<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Editing 27/02/2021 15:20</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>E1</display-name>
    <servlet-name>E1</servlet-name>
    <servlet-class>ukitsd.ep.controller.E1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E1</servlet-name>
    <url-pattern>/E1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>E2</display-name>
    <servlet-name>E2</servlet-name>
    <servlet-class>ukitsd.ep.controller.E2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E2</servlet-name>
    <url-pattern>/E2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Footnote</display-name>
    <servlet-name>Footnote</servlet-name>
    <servlet-class>ukitsd.ep.controller.Footnote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footnote</servlet-name>
    <url-pattern>/Footnote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveE2</display-name>
    <servlet-name>SaveE2</servlet-name>
    <servlet-class>ukitsd.ep.controller.SaveE2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveE2</servlet-name>
    <url-pattern>/SaveE2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ukitsd.ep.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RequestLoggingFilter</display-name>
    <filter-name>RequestLoggingFilter</filter-name>
    <filter-class>ukitsd.ep.controller.RequestLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <servlet-name>LoginServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>ukitsd.ep.controller.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MenuController</display-name>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>ukitsd.ep.controller.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/url</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryController</display-name>
    <servlet-name>HistoryController</servlet-name>
    <servlet-class>ukitsd.ep.controller.HistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryController</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ukitsd.ep.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tool</display-name>
    <servlet-name>Tool</servlet-name>
    <servlet-class>ukitsd.ep.controller.Tool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tool</servlet-name>
    <url-pattern>/Tool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageMenu</display-name>
    <servlet-name>ManageMenu</servlet-name>
    <servlet-class>ukitsd.ep.controller.ManageMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageMenu</servlet-name>
    <url-pattern>/MenuAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupController</display-name>
    <servlet-name>GroupController</servlet-name>
    <servlet-class>ukitsd.ep.controller.GroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupController</servlet-name>
    <url-pattern>/GroupUngroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rearrange</display-name>
    <servlet-name>Rearrange</servlet-name>
    <servlet-class>ukitsd.ep.controller.Rearrange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rearrange</servlet-name>
    <url-pattern>/service/Rearrange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLinking</display-name>
    <servlet-name>ApproveLinking</servlet-name>
    <servlet-class>ukitsd.ep.controller.ApproveLinking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLinking</servlet-name>
    <url-pattern>/service/ApproveLinking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Proof</display-name>
    <servlet-name>Proof</servlet-name>
    <servlet-class>ukitsd.ep.controller.Proof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proof</servlet-name>
    <url-pattern>/service/Proof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonController</display-name>
    <servlet-name>CommonController</servlet-name>
    <servlet-class>ukitsd.ep.controller.CommonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonController</servlet-name>
    <url-pattern>/service/CommonService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportController</display-name>
    <servlet-name>ExportController</servlet-name>
    <servlet-class>ukitsd.ep.controller.ExportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportController</servlet-name>
    <url-pattern>/service/Export</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>ukitsd.ep.controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/service/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CESearchController</display-name>
    <servlet-name>CESearchController</servlet-name>
    <servlet-class>ukitsd.ep.controller.CESearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CESearchController</servlet-name>
    <url-pattern>/CESearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Linking</display-name>
    <servlet-name>Linking</servlet-name>
    <servlet-class>ukitsd.ep.controller.Linking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Linking</servlet-name>
    <url-pattern>/Linking</url-pattern>
  </servlet-mapping>
</web-app>